<!DOCTYPE html>
<html lang="pl">
	<head>
		<link rel="stylesheet" type="text/css" href="style.css" media="screen">
		<meta charset="UTF-8">
		
		<title>
			Dean's office. Student's area.
		</title>
	</head>
	<body>
		<header>
			<h1>
				Dean's office. Student's area.
			</h1>
		</header>
		<main>
			<h2 class="error">
				Not found.
			</h2>
			<p class="error">
				There is no student having given parameters in the database! <br/>
				Please, fill the form again and sign up with correct credentials. <br/>
				<a href="/">Click here to return to the form.</a>
			</p>
		</main>
		<footer>
			<% include footer.ejs %>
		</footer>
	</body>
</html>