/* HTML skeleton. */

html {
	background-color: #FFDEAD;
	font-weight: 600;
}

header {
	min-height: 150px;
}

div.outline {
	margin-left: 50px;
}

/* Body. */
h1 {
	font-family: "Lucida Console";
	color: #7D3E11;
}

h2.error {
	text-align: center;
	color: red;
}

h2.header {
	font-family: "Lucida Console";
	color: #7D3E11;
	letter-spacing: 2px;
}

h3 {
	font-family: Arial;
	color: #7D3E11;
	letter-spacing: 1px;
}

h4 {
	color: #7D3E11;
}

p.error {
	text-align: center;
}

td {
	text-align: center;
	height: 20px;
	width: 120px;
}

a {
	color: black;
}

/* HTML Forms. */

fieldset {
	margin:auto;
	text-align: left;
	width: 400px;
}

label {
	float: left;
	width: 175px;
	margin-left: 5px;
}

select, input.fields {
	width: 200px;
	background-color: #FFEFD5;
}

input.buttons {
	background-color: white;
	margin-right: 5px;
	width: 100px;
	background-color: #FFEFD5;
}

/* Footer. */

p.footer {
	text-align: center;
	font-size: 10px;
}