<!DOCTYPE html>
<html lang="pl">
	<head>
		<link rel="stylesheet" type="text/css" href="style.css" media="screen">
		<meta charset="UTF-8">
		
		<title>
			Dean's office. Outlines.
		</title>
	</head>
	<body>	
		<h4>
			Preliminaries.
		</h4>
		<p style="text-indent: 20px;">
			The main theme of today's course is to present ...
		</p>
		<h4>
			Exercises.
		</h4>
		<p style="text-indent: 20px;">
			Firstly, please ...
		</p>
	</body>
</html>